<li>
  <div class="product-item" data-id=<%= product.id %> data-name="<%= product.name%>">
    <%= product.name %> - <%= product.description %>
  </div>
  <button class="btn" id="edit-product">Edit</button>
  <button class="btn" id="delete-product">Delete</button>
</li>